# import pandas

In [169]:
import pandas as pd

##cr= pd.read_csv("C:/Users/Khushi/Documents/Credit_Risk_Test_data.csv")

cr= pd.read_csv(r"C:\Users\Khushi\Documents\Credit_Risk_Test_data.csv")

In [55]:
cr

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,LP001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
12,LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,LP001128,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,LP001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,LP001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,LP001174,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
29,LP001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
337,LP002856,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,LP002867,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,LP002869,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,LP002870,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,LP002876,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,LP002878,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,LP002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,LP002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,LP002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,LP002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,LP002932,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,LP002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,LP002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,LP002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,LP002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [4]:
type(cr)

pandas.core.frame.DataFrame

In [5]:
import os
os.getcwd()

'C:\\Users\\Khushi'

In [6]:
cr.head() ##top 5 rows
cr.tail()  ##last 5 rows

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [7]:
cr.shape ##rowsand columns in data

(367, 12)

In [8]:
cr.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban

In [9]:
cr.describe()  ##description of numeric columns

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,367.000000,367.000000,362.000000,361.000000,338.000000
mean,4805.599455,1569.577657,136.132597,342.537396,0.825444
std,4910.685399,2334.232099,61.366652,65.156643,0.380150
min,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2864.000000,0.000000,100.250000,360.000000,1.000000
50%,3786.000000,1025.000000,125.000000,360.000000,1.000000
75%,5060.000000,2430.500000,158.000000,360.000000,1.000000
max,72529.000000,24000.000000,550.000000,480.000000,1.000000

In [10]:
##for categorical we have unique, top, freq

In [11]:
cr.describe(include='all')   ##description of all columns

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
count,367,356,367,357,367,344,367.000000,367.000000,362.000000,361.000000,338.000000,367
unique,367,2,2,4,2,2,NaN,NaN,NaN,NaN,NaN,3
top,LP001051,Male,Yes,0,Graduate,No,NaN,NaN,NaN,NaN,NaN,Urban
freq,1,286,233,200,283,307,NaN,NaN,NaN,NaN,NaN,140
mean,NaN,NaN,NaN,NaN,NaN,NaN,4805.599455,1569.577657,136.132597,342.537396,0.825444,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,4910.685399,2334.232099,61.366652,65.156643,0.380150,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,28.000000,6.000000,0.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2864.000000,0.000000,100.250000,360.000000,1.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,3786.000000,1025.000000,125.000000,360.000000,1.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,5060.000000,2430.500000,158.000000,360.000000,1.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,72529.000000,24000.000000,550.000000,480.000000,1.000000,NaN

In [12]:
cr.columns  ##name of all columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [13]:
cr.corr()   ##correlation matrix

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
ApplicantIncome,1.000000,-0.110335,0.493451,0.023249,0.099553
CoapplicantIncome,-0.110335,1.000000,0.150850,-0.010984,-0.071235
LoanAmount,0.493451,0.150850,1.000000,0.094950,-0.012578
Loan_Amount_Term,0.023249,-0.010984,0.094950,1.000000,-0.053593
Credit_History,0.099553,-0.071235,-0.012578,-0.053593,1.000000

In [14]:
cr.info() ##info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
Loan_ID              367 non-null object
Gender               356 non-null object
Married              367 non-null object
Dependents           357 non-null object
Education            367 non-null object
Self_Employed        344 non-null object
ApplicantIncome      367 non-null int64
CoapplicantIncome    367 non-null int64
LoanAmount           362 non-null float64
Loan_Amount_Term     361 non-null float64
Credit_History       338 non-null float64
Property_Area        367 non-null object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

# object == categorical, float or int == numerical

In [15]:
categorical_columns = cr.select_dtypes(include=['object']).columns
categorical_columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area'],
      dtype='object')

In [16]:
categorical_df = cr.select_dtypes(include=['object'])
categorical_df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,Urban
1,LP001022,Male,Yes,1,Graduate,No,Urban
2,LP001031,Male,Yes,2,Graduate,No,Urban
3,LP001035,Male,Yes,2,Graduate,No,Urban
4,LP001051,Male,No,0,Not Graduate,No,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,Urban
6,LP001055,Female,No,1,Not Graduate,No,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,Urban
9,LP001067,Male,No,0,Not Graduate,No,Semiurban
10,LP001078,Male,No,0,Not Graduate,No,Urban
11,LP001082,Male,Yes,1,Graduate,NaN,Semiurban
12,LP001083,Male,No,3+,Graduate,No,Urban
13,LP001094,Male,Yes,2,Graduate,NaN,Semiurban
14,LP001096,Female,No,0,Graduate,No,Semiurban
15,LP001099,Male,No,1,Graduate,No,Urban
16,LP001105,Male,Yes,2,Graduate,No,Urban
17,LP001107,Male,Yes,3+,Graduate,No,Semiurban
18,LP001108,Male,Yes,0,Graduate,No,Urban
19,LP001115,Male,No,0,Graduate,No,Semiurban
20,LP001121,Male,Yes,1,Not Graduate,No,Urban
21,LP001124,Female,No,3+,Not Graduate,No,Urban
22,LP001128,NaN,No,0,Graduate,No,Urban
23,LP001135,Female,No,0,Not Graduate,No,Urban
24,LP001149,Male,Yes,0,Graduate,No,Urban
25,LP001153,Male,No,0,Graduate,No,Rural
26,LP001163,Male,Yes,2,Graduate,No,Urban
27,LP001169,Male,Yes,0,Graduate,No,Urban
28,LP001174,Male,Yes,0,Graduate,No,Semiurban
29,LP001176,Male,No,0,Graduate,No,Urban
...,...,...,...,...,...,...,...
337,LP002856,Male,Yes,0,Graduate,No,Urban
338,LP002857,Male,Yes,1,Graduate,Yes,Rural
339,LP002858,Female,No,0,Graduate,No,Rural
340,LP002860,Male,Yes,0,Graduate,Yes,Semiurban
341,LP002867,Male,No,0,Graduate,Yes,Rural
342,LP002869,Male,Yes,3+,Not Graduate,No,Rural
343,LP002870,Male,Yes,1,Graduate,No,Urban
344,LP002876,Male,No,0,Graduate,No,Rural
345,LP002878,Male,Yes,3+,Graduate,No,Urban
346,LP002879,Male,Yes,0,Graduate,No,Rural
347,LP002885,Male,No,0,Not Graduate,No,Urban
348,LP002890,Male,Yes,2,Not Graduate,No,Urban
349,LP002891,Male,Yes,0,Graduate,Yes,Rural
350,LP002899,Male,Yes,2,Graduate,No,Rural
351,LP002901,Male,No,0,Graduate,No,Rural
352,LP002907,Male,Yes,0,Graduate,No,Urban
353,LP002920,Male,Yes,0,Graduate,No,Rural
354,LP002921,Male,Yes,3+,Not Graduate,No,Semiurban
355,LP002932,Male,Yes,3+,Graduate,No,Urban
356,LP002935,Male,Yes,1,Graduate,No,Urban
357,LP002952,Male,No,0,Graduate,No,Urban
358,LP002954,Male,Yes,2,Not Graduate,No,Rural
359,LP002962,Male,No,0,Graduate,No,Semiurban
360,LP002965,Female,Yes,0,Graduate,No,Urban
361,LP002969,Male,Yes,1,Graduate,No,Semiurban
362,LP002971,Male,Yes,3+,Not Graduate,Yes,Urban
363,LP002975,Male,Yes,0,Graduate,No,Urban
364,LP002980,Male,No,0,Graduate,No,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,Rural
366,LP002989,Male,No,0,Graduate,Yes,Rural

In [17]:
aa = (cr.ApplicantIncome >= 3000)   ##created filter for income greater than equal to 3000
aa  ##len(aa) = 367

0       True
1       True
2       True
3      False
4       True
5      False
6      False
7       True
8       True
9      False
10      True
11     False
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19     False
20     False
21     False
22      True
23      True
24      True
25     False
26      True
27      True
28      True
29     False
       ...
337    False
338    False
339     True
340    False
341     True
342     True
343     True
344     True
345     True
346     True
347    False
348     True
349    False
350     True
351    False
352     True
353     True
354     True
355     True
356     True
357    False
358     True
359     True
360     True
361    False
362     True
363     True
364     True
365     True
366     True
Name: ApplicantIncome, Length: 367, dtype: bool

In [18]:
cr1 = cr[aa]    ##applied on data frame
cr1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
12,LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
22,LP001128,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,LP001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,LP001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,LP001174,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
31,LP001183,Male,Yes,2,Graduate,No,6250,820,192.0,360.0,1.0,Urban
32,LP001185,Male,No,0,Graduate,No,3268,1683,152.0,360.0,1.0,Semiurban
35,LP001203,Male,No,0,Graduate,No,3150,0,176.0,360.0,0.0,Semiurban
36,LP001208,Male,Yes,2,Graduate,NaN,7350,4029,185.0,180.0,1.0,Urban
38,LP001211,Male,No,0,Graduate,Yes,5833,0,116.0,360.0,1.0,Urban
39,LP001219,Male,No,0,Graduate,No,3643,1963,138.0,360.0,1.0,Urban
40,LP001220,Male,Yes,0,Graduate,No,5629,818,100.0,360.0,1.0,Urban
41,LP001221,Female,No,0,Graduate,No,3644,0,110.0,360.0,1.0,Urban
43,LP001230,Male,No,0,Graduate,No,6500,2600,200.0,360.0,1.0,Semiurban
44,LP001231,Female,No,0,Graduate,No,3666,0,84.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
327,LP002805,Male,Yes,2,Graduate,No,5041,700,150.0,360.0,1.0,Urban
328,LP002806,Male,Yes,3+,Graduate,Yes,6958,1411,150.0,360.0,1.0,Rural
329,LP002816,Male,Yes,1,Graduate,No,3500,1658,104.0,360.0,NaN,Semiurban
330,LP002823,Male,Yes,0,Graduate,No,5509,0,143.0,360.0,1.0,Rural
331,LP002825,Male,Yes,3+,Graduate,No,9699,0,300.0,360.0,1.0,Urban
332,LP002826,Female,Yes,1,Not Graduate,No,3621,2717,171.0,360.0,1.0,Urban
333,LP002843,Female,Yes,0,Graduate,No,4709,0,113.0,360.0,1.0,Semiurban
336,LP002853,Female,No,0,Not Graduate,No,3015,2000,145.0,360.0,NaN,Urban
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
341,LP002867,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,LP002869,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,LP002870,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,LP002876,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,LP002878,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
348,LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
350,LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
352,LP002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,LP002932,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
358,LP002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,LP002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [19]:
##Earning less than 3000
cr3 = cr[-aa]
cr3

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
11,LP001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
29,LP001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
30,LP001177,Female,No,0,Not Graduate,No,2478,0,75.0,360.0,1.0,Semiurban
33,LP001187,Male,Yes,0,Graduate,No,2783,2708,158.0,360.0,1.0,Urban
34,LP001190,Male,Yes,0,Graduate,No,2740,1541,101.0,360.0,1.0,Urban
37,LP001210,Male,Yes,0,Graduate,Yes,2267,2792,90.0,360.0,1.0,Urban
42,LP001226,Male,Yes,0,Not Graduate,No,1750,2024,90.0,360.0,1.0,Semiurban
47,LP001242,Male,No,0,Not Graduate,No,2356,1902,108.0,360.0,1.0,Semiurban
50,LP001284,Male,Yes,1,Graduate,No,2419,1707,124.0,360.0,1.0,Urban
55,LP001313,Male,No,0,Graduate,No,2750,0,130.0,360.0,0.0,Urban
58,LP001323,Female,Yes,2,Graduate,No,2779,3664,176.0,360.0,0.0,Semiurban
60,LP001332,Male,Yes,0,Not Graduate,No,2415,1721,110.0,360.0,1.0,Semiurban
63,LP001347,Female,No,0,Graduate,No,2101,1500,108.0,360.0,0.0,Rural
65,LP001351,Male,Yes,0,Graduate,No,2917,3583,138.0,360.0,1.0,Semiurban
69,LP001361,Male,Yes,0,Graduate,No,2458,5105,188.0,360.0,0.0,Rural
101,LP001542,Female,Yes,0,Graduate,No,2262,0,NaN,480.0,0.0,Semiurban
103,LP001548,Male,Yes,2,Not Graduate,No,2687,0,50.0,180.0,1.0,Rural
104,LP001558,Male,No,0,Graduate,No,2243,2233,107.0,360.0,NaN,Semiurban
106,LP001563,NaN,No,0,Graduate,No,1596,1760,119.0,360.0,0.0,Urban
113,LP001591,Female,Yes,2,Graduate,No,2922,3396,122.0,360.0,1.0,Semiurban
116,LP001607,Female,No,0,Not Graduate,No,0,1760,180.0,360.0,1.0,Semiurban
117,LP001611,Male,Yes,1,Graduate,No,1516,2900,80.0,NaN,0.0,Rural
...,...,...,...,...,...,...,...,...,...,...,...,...
261,LP002420,Male,Yes,0,Graduate,No,2982,1550,110.0,360.0,1.0,Semiurban
264,LP002440,Male,Yes,2,Graduate,No,2995,1120,184.0,360.0,1.0,Rural
270,LP002476,Female,Yes,3+,Not Graduate,No,1635,2444,99.0,360.0,1.0,Urban
275,LP002523,Male,Yes,3+,Graduate,No,2773,1497,108.0,360.0,1.0,Semiurban
280,LP002554,Male,No,0,Graduate,No,2166,2057,122.0,360.0,1.0,Semiurban
286,LP002581,Male,Yes,0,Not Graduate,No,2157,2730,140.0,360.0,NaN,Rural
287,LP002584,Male,No,0,Graduate,NaN,1972,4347,106.0,360.0,1.0,Rural
293,LP002609,Female,Yes,0,Graduate,No,2241,2000,88.0,360.0,0.0,Urban
294,LP002610,Male,Yes,1,Not Graduate,NaN,1792,2565,128.0,360.0,1.0,Urban
295,LP002612,Female,Yes,0,Graduate,No,2666,0,84.0,480.0,1.0,Semiurban
303,LP002657,NaN,Yes,1,Not Graduate,Yes,570,2125,68.0,360.0,1.0,Rural
304,LP002711,Male,Yes,0,Graduate,No,2600,700,96.0,360.0,1.0,Semiurban
305,LP002712,Male,No,2,Not Graduate,No,2733,1083,180.0,360.0,NaN,Semiurban
311,LP002747,Female,No,3+,Graduate,No,2366,5272,153.0,360.0,0.0,Rural
312,LP002754,Male,No,NaN,Graduate,No,2066,2108,104.0,84.0,1.0,Urban
317,LP002774,Male,Yes,0,Not Graduate,No,1700,2900,67.0,360.0,0.0,Urban
320,LP002782,Male,Yes,1,Graduate,No,2667,1542,148.0,360.0,1.0,Rural
321,LP002786,Female,Yes,0,Not Graduate,No,1647,1762,181.0,360.0,1.0,Urban
325,LP002802,Male,No,0,Graduate,No,2875,2416,95.0,6.0,0.0,Semiurban
326,LP002803,Male,Yes,1,Not Graduate,NaN,2600,618,122.0,360.0,1.0,Semiurban
334,LP002849,Male,Yes,0,Graduate,No,1516,1951,35.0,360.0,1.0,Semiurban
335,LP002850,Male,No,2,Graduate,No,2400,0,46.0,360.0,1.0,Urban
337,LP002856,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
340,LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
347,LP002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
349,LP002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
351,LP002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
357,LP002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
361,LP002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban

In [20]:
##create a data frame ApplicantIncome >4000 person= Male and person = Married
cr4 = cr[(cr.ApplicantIncome >=4000) & (cr.Gender =="Male") & (cr.Married = "Yes")]
cr4

SyntaxError: invalid syntax (<ipython-input-20-521f34b79fb5>, line 2)

In [21]:
###group by categorical variable
cr.groupby('Gender').ApplicantIncome.mean()

Gender
Female    4163.60000
Male      4932.86014
Name: ApplicantIncome, dtype: float64

In [22]:
cr.ApplicantIncome                ##Both are same
cr['ApplicantIncome']

0       5720
1       3076
2       5000
3       2340
4       3276
5       2165
6       2226
7       3881
8      13633
9       2400
10      3091
11      2185
12      4166
13     12173
14      4666
15      5667
16      4583
17      3786
18      9226
19      1300
20      1888
21      2083
22      3909
23      3765
24      5400
25         0
26      4363
27      7500
28      3772
29      2942
       ...
337     2292
338     2360
339     4333
340     2623
341     3972
342     3522
343     4700
344     6858
345     8334
346     3391
347     2868
348     3418
349     2500
350     8667
351     2283
352     5817
353     5119
354     5316
355     7603
356     3791
357     2500
358     3132
359     4000
360     8550
361     2269
362     4009
363     4158
364     3250
365     5000
366     9200
Name: ApplicantIncome, Length: 367, dtype: int64

In [23]:
cr.Gender.value_counts()  ##count thr number of occurrences

Male      286
Female     70
Name: Gender, dtype: int64

In [24]:
###group by categorical variable- aggregates
cr.groupby('Gender').ApplicantIncome.agg(['count','min','max','mean'])

        count  min    max        mean
Gender
Female     70    0  14987  4163.60000
Male      286    0  72529  4932.86014

In [25]:
## this will give info about all the numeric columns 
cr.groupby('Gender').agg(['count','min','max','mean'])

       ApplicantIncome                        CoapplicantIncome             \
                 count min    max        mean             count min    max
Gender
Female              70   0  14987  4163.60000                70   0  11666
Male               286   0  72529  4932.86014               286   0  24000

                    LoanAmount                          Loan_Amount_Term  \
               mean      count   min    max        mean            count
Gender
Female  1171.957143         69  28.0  460.0  126.797101               70
Male    1670.874126        282  28.0  550.0  139.031915              280

                                Credit_History
         min    max        mean          count  min  max      mean
Gender
Female  84.0  480.0  350.914286             64  0.0  1.0  0.796875
Male     6.0  480.0  340.400000            263  0.0  1.0  0.832700

In [26]:
cr.isnull().sum()  ##how many nulls under each column

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [27]:
cr.Credit_History = cr.Credit_History.fillna(0)

In [31]:
cr1 =  cr.rename(columns = {'ApplicantIncome' : 'Applicant Income'})  ## rename the columns

In [32]:
cr1.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Applicant Income', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [37]:
cr1 =  cr.rename(columns = {'ApplicantIncome' : 'Applicant Income','LoanAmount':'Loan bc'})  ## rename more than 1 columns

In [58]:
cr1.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Applicant Income', 'CoapplicantIncome', 'Loan bc',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [59]:
cr

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,LP001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
12,LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,LP001128,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,LP001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,LP001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,LP001174,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
29,LP001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
337,LP002856,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,LP002867,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,LP002869,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,LP002870,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,LP002876,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,LP002878,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,LP002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,LP002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,LP002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,LP002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,LP002932,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,LP002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,LP002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,LP002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,LP002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [ ]:
cr.drop('Gender', axis=1)        ##drop/remove a column

In [51]:
cr

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,LP001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
12,LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,LP001128,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,LP001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,LP001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,LP001174,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
29,LP001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
337,LP002856,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,LP002867,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,LP002869,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,LP002870,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,LP002876,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,LP002878,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,LP002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,LP002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,LP002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,LP002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,LP002932,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,LP002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,LP002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,LP002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,LP002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [67]:
##inplace= True will make changes and save in the same dataset
cr

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
12,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
29,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
337,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

# hot encoding

In [68]:
cr = pd.get_dummies(cr, columns = ['Gender','Married','Dependents','Education'])

In [70]:
cr.head()

,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate
0,No,5720,0,110.0,360.0,1.0,Urban,0,1,0,1,1,0,0,0,1,0
1,No,3076,1500,126.0,360.0,1.0,Urban,0,1,0,1,0,1,0,0,1,0
2,No,5000,1800,208.0,360.0,1.0,Urban,0,1,0,1,0,0,1,0,1,0
3,No,2340,2546,100.0,360.0,NaN,Urban,0,1,0,1,0,0,1,0,1,0
4,No,3276,0,78.0,360.0,1.0,Urban,0,1,1,0,1,0,0,0,0,1

# zhali hot encoding

In [71]:
cr.shape  #shape has changed

(367, 17)

###ADD  new column in existing data frame

aaIncome = 2*cr.ApplicantIncome
aaIncome

In [97]:
aa= 2*cr.ApplicantIncome

In [98]:
cr2 = pd.concat([cr,aa], axis=1)   ##add a new column to dataset
cr2.head()

,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,ApplicantIncome
0,No,5720,0,110.0,360.0,1.0,Urban,0,1,0,1,1,0,0,0,1,0,11440
1,No,3076,1500,126.0,360.0,1.0,Urban,0,1,0,1,0,1,0,0,1,0,6152
2,No,5000,1800,208.0,360.0,1.0,Urban,0,1,0,1,0,0,1,0,1,0,10000
3,No,2340,2546,100.0,360.0,NaN,Urban,0,1,0,1,0,0,1,0,1,0,4680
4,No,3276,0,78.0,360.0,1.0,Urban,0,1,1,0,1,0,0,0,0,1,6552

In [99]:
col_name= cr2.columns
col_name
type(col_name)##pandas.Index

col_name = list(col_name)  ##convert to list
type(col_name)   ##list
col_name[17] = 'New_app1_income' ##change the name
col_name[17]

cr2.columns = col_name ##replace cr2.columns with new variable where you changed the column name now

In [95]:
cr2.head()  ##now it will be visible

,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,New_app1_income
0,No,5720,0,110.0,360.0,1.0,Urban,0,1,0,1,1,0,0,0,1,0,11440
1,No,3076,1500,126.0,360.0,1.0,Urban,0,1,0,1,0,1,0,0,1,0,6152
2,No,5000,1800,208.0,360.0,1.0,Urban,0,1,0,1,0,0,1,0,1,0,10000
3,No,2340,2546,100.0,360.0,NaN,Urban,0,1,0,1,0,0,1,0,1,0,4680
4,No,3276,0,78.0,360.0,1.0,Urban,0,1,1,0,1,0,0,0,0,1,6552

In [ ]:
##read the file again

In [119]:
cr11= pd.read_csv(r"C:\Users\Khushi\Documents\Credit_Risk_Test_data.csv")

# replace 0 for Male and 1 for female in Gender and then drop the column

In [118]:
cr11.loc[cr11['Gender']=="Male" , "Gender1"] = 0
cr11.loc[cr11['Gender']=="Female" , "Gender1"] = 1

KeyError: 'Gender'

In [116]:
cr11.head(10)
cr11.drop('Gender',axis=1,inplace = True)

In [117]:
cr11

,Loan_ID,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Gender1
0,LP001015,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,0.0
1,LP001022,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,0.0
2,LP001031,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,0.0
3,LP001035,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,0.0
4,LP001051,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,0.0
5,LP001054,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban,0.0
6,LP001055,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban,1.0
7,LP001056,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural,0.0
8,LP001059,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban,0.0
9,LP001067,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban,0.0
10,LP001078,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban,0.0
11,LP001082,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban,0.0
12,LP001083,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban,0.0
13,LP001094,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban,0.0
14,LP001096,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban,1.0
15,LP001099,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban,0.0
16,LP001105,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban,0.0
17,LP001107,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban,0.0
18,LP001108,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban,0.0
19,LP001115,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban,0.0
20,LP001121,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban,0.0
21,LP001124,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban,1.0
22,LP001128,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban,NaN
23,LP001135,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban,1.0
24,LP001149,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban,0.0
25,LP001153,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural,0.0
26,LP001163,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban,0.0
27,LP001169,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban,0.0
28,LP001174,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban,0.0
29,LP001176,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
337,LP002856,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban,0.0
338,LP002857,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural,0.0
339,LP002858,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural,1.0
340,LP002860,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban,0.0
341,LP002867,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural,0.0
342,LP002869,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural,0.0
343,LP002870,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban,0.0
344,LP002876,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural,0.0
345,LP002878,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban,0.0
346,LP002879,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural,0.0
347,LP002885,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban,0.0
348,LP002890,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban,0.0
349,LP002891,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural,0.0
350,LP002899,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural,0.0
351,LP002901,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural,0.0
352,LP002907,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban,0.0
353,LP002920,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural,0.0
354,LP002921,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban,0.0
355,LP002932,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban,0.0
356,LP002935,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban,0.0
357,LP002952,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban,0.0
358,LP002954,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural,0.0
359,LP002962,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban,0.0
360,LP002965,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban,1.0
361,LP002969,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban,0.0
362,LP002971,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,0.0
363,LP002975,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,0.0
364,LP002980,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban,0.0
365,LP002986,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,0.0
366,LP002989,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,0.0

In [126]:
#------------------------------------------------------------
## SORT values based on ascending or descending
#-------------------------------------------------------------------------
cr11.sort_values(['ApplicantIncome'],ascending = False)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
81,LP001428,Male,Yes,3+,Graduate,No,72529,0,360.0,360.0,1.0,Urban
143,LP001791,Male,Yes,0,Graduate,Yes,32000,0,550.0,360.0,NaN,Semiurban
279,LP002553,NaN,No,0,Graduate,No,29167,0,185.0,360.0,1.0,Semiurban
272,LP002485,Male,No,1,Graduate,No,24797,0,240.0,360.0,1.0,Semiurban
263,LP002433,Male,Yes,1,Graduate,No,18840,0,234.0,360.0,1.0,Rural
323,LP002791,Male,No,1,Graduate,NaN,16000,5000,40.0,360.0,1.0,Semiurban
179,LP002017,Male,Yes,3+,Graduate,No,15312,0,187.0,360.0,NaN,Urban
302,LP002654,Female,No,NaN,Graduate,Yes,14987,0,177.0,360.0,1.0,Rural
230,LP002294,Male,No,0,Graduate,No,14911,14507,130.0,360.0,1.0,Semiurban
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
91,LP001483,Male,Yes,3+,Graduate,No,13518,0,390.0,360.0,1.0,Rural
188,LP002057,Male,Yes,0,Not Graduate,No,13083,0,NaN,360.0,1.0,Rural
145,LP001797,Female,No,0,Graduate,No,12941,0,150.0,300.0,1.0,Urban
124,LP001655,Female,No,0,Graduate,No,12500,0,300.0,360.0,0.0,Urban
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
144,LP001794,Male,Yes,2,Graduate,Yes,10890,0,260.0,12.0,1.0,Rural
184,LP002045,Male,Yes,3+,Graduate,No,10166,750,150.0,NaN,1.0,Urban
284,LP002570,Female,Yes,2,Graduate,No,10000,11666,460.0,360.0,1.0,Urban
247,LP002360,Male,Yes,NaN,Graduate,No,10000,0,NaN,360.0,1.0,Urban
194,LP002077,Male,Yes,1,Graduate,No,10000,2690,412.0,360.0,1.0,Semiurban
98,LP001517,Male,Yes,3+,Graduate,No,9719,0,61.0,360.0,1.0,Urban
331,LP002825,Male,Yes,3+,Graduate,No,9699,0,300.0,360.0,1.0,Urban
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural
187,LP002056,Male,Yes,2,Graduate,No,9167,0,235.0,360.0,1.0,Semiurban
283,LP002568,Male,No,0,Not Graduate,No,9000,0,122.0,360.0,1.0,Rural
285,LP002572,Male,Yes,1,Graduate,NaN,8750,0,297.0,360.0,1.0,Urban
200,LP002105,Male,Yes,0,Graduate,Yes,8706,0,108.0,480.0,1.0,Rural
147,LP001817,Male,No,0,Not Graduate,Yes,8703,0,199.0,360.0,0.0,Rural
350,LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
...,...,...,...,...,...,...,...,...,...,...,...,...
244,LP002354,Female,No,0,Not Graduate,No,2107,0,64.0,360.0,1.0,Semiurban
63,LP001347,Female,No,0,Graduate,No,2101,1500,108.0,360.0,0.0,Rural
21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
312,LP002754,Male,No,NaN,Graduate,No,2066,2108,104.0,84.0,1.0,Urban
209,LP002165,NaN,No,1,Not Graduate,No,2038,4027,100.0,360.0,1.0,Rural
137,LP001757,Male,Yes,1,Graduate,No,2014,2925,120.0,360.0,1.0,Rural
197,LP002096,Male,Yes,0,Not Graduate,No,2000,1600,115.0,360.0,1.0,Rural
287,LP002584,Male,No,0,Graduate,NaN,1972,4347,106.0,360.0,1.0,Rural
204,LP002118,Female,No,0,Graduate,No,1937,1152,78.0,360.0,1.0,Semiurban
199,LP002102,Male,Yes,0,Graduate,Yes,1900,1442,88.0,360.0,1.0,Rural
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
259,LP002415,Female,No,1,Graduate,NaN,1850,4583,81.0,360.0,NaN,Rural
294,LP002610,Male,Yes,1,Not Graduate,NaN,1792,2565,128.0,360.0,1.0,Urban
118,LP001613,Female,No,0,Graduate,No,1762,2666,104.0,360.0,0.0,Urban
168,LP001950,Female,Yes,3+,Graduate,NaN,1750,2935,94.0,360.0,0.0,Semiurban
42,LP001226,Male,Yes,0,Not Graduate,No,1750,2024,90.0,360.0,1.0,Semiurban
317,LP002774,Male,Yes,0,Not Graduate,No,1700,2900,67.0,360.0,0.0,Urban
321,LP002786,Female,Yes,0,Not Graduate,No,1647,1762,181.0,360.0,1.0,Urban
270,LP002476,Female,Yes,3+,Not Graduate,No,1635,2444,99.0,360.0,1.0,Urban
155,LP001857,Male,No,0,Not Graduate,Yes,1599,2474,125.0,300.0,1.0,Semiurban
106,LP001563,NaN,No,0,Graduate,No,1596,1760,119.0,360.0,0.0,Urban
334,LP002849,Male,Yes,0,Graduate,No,1516,1951,35.0,360.0,1.0,Semiurban
117,LP001611,Male,Yes,1,Graduate,No,1516,2900,80.0,NaN,0.0,Rural
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
232,LP002306,Male,Yes,0,Graduate,No,1173,1594,28.0,180.0,1.0,Rural
166,LP001933,Male,No,2,Not Graduate,No,1141,2017,120.0,360.0,0.0,Urban
119,LP001622,Male,Yes,2,Graduate,No,724,3510,213.0,360.0,0.0,Rural
303,LP002657,NaN,Yes,1,Not Graduate,Yes,570,2125,68.0,360.0,1.0,Rural
116,LP001607,Female,No,0,Not Graduate,No,0,1760,180.0,360.0,1.0,Semiurban
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural

In [130]:
cr.ApplicantIncome.describe(percentiles = [0.0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,0.95,0.98,0.99,1.0])

count      367.000000
mean      4805.599455
std       4910.685399
min          0.000000
0%           0.000000
10%       2229.000000
20%       2615.000000
30%       3070.000000
40%       3417.000000
50%       3786.000000
60%       4194.600000
70%       4742.000000
80%       5667.000000
90%       7882.400000
95%      10000.000000
98%      14962.680000
99%      20865.380000
100%     72529.000000
max      72529.000000
Name: ApplicantIncome, dtype: float64

In [134]:
##select sliced data

cr11.iloc[:,0:5]      ##iloc == index location all rows and 4 columns

      Loan_ID  Gender Married Dependents     Education
0    LP001015    Male     Yes          0      Graduate
1    LP001022    Male     Yes          1      Graduate
2    LP001031    Male     Yes          2      Graduate
3    LP001035    Male     Yes          2      Graduate
4    LP001051    Male      No          0  Not Graduate
5    LP001054    Male     Yes          0  Not Graduate
6    LP001055  Female      No          1  Not Graduate
7    LP001056    Male     Yes          2  Not Graduate
8    LP001059    Male     Yes          2      Graduate
9    LP001067    Male      No          0  Not Graduate
10   LP001078    Male      No          0  Not Graduate
11   LP001082    Male     Yes          1      Graduate
12   LP001083    Male      No         3+      Graduate
13   LP001094    Male     Yes          2      Graduate
14   LP001096  Female      No          0      Graduate
15   LP001099    Male      No          1      Graduate
16   LP001105    Male     Yes          2      Graduate
17   LP001107    Male     Yes         3+      Graduate
18   LP001108    Male     Yes          0      Graduate
19   LP001115    Male      No          0      Graduate
20   LP001121    Male     Yes          1  Not Graduate
21   LP001124  Female      No         3+  Not Graduate
22   LP001128     NaN      No          0      Graduate
23   LP001135  Female      No          0  Not Graduate
24   LP001149    Male     Yes          0      Graduate
25   LP001153    Male      No          0      Graduate
26   LP001163    Male     Yes          2      Graduate
27   LP001169    Male     Yes          0      Graduate
28   LP001174    Male     Yes          0      Graduate
29   LP001176    Male      No          0      Graduate
..        ...     ...     ...        ...           ...
337  LP002856    Male     Yes          0      Graduate
338  LP002857    Male     Yes          1      Graduate
339  LP002858  Female      No          0      Graduate
340  LP002860    Male     Yes          0      Graduate
341  LP002867    Male      No          0      Graduate
342  LP002869    Male     Yes         3+  Not Graduate
343  LP002870    Male     Yes          1      Graduate
344  LP002876    Male      No          0      Graduate
345  LP002878    Male     Yes         3+      Graduate
346  LP002879    Male     Yes          0      Graduate
347  LP002885    Male      No          0  Not Graduate
348  LP002890    Male     Yes          2  Not Graduate
349  LP002891    Male     Yes          0      Graduate
350  LP002899    Male     Yes          2      Graduate
351  LP002901    Male      No          0      Graduate
352  LP002907    Male     Yes          0      Graduate
353  LP002920    Male     Yes          0      Graduate
354  LP002921    Male     Yes         3+  Not Graduate
355  LP002932    Male     Yes         3+      Graduate
356  LP002935    Male     Yes          1      Graduate
357  LP002952    Male      No          0      Graduate
358  LP002954    Male     Yes          2  Not Graduate
359  LP002962    Male      No          0      Graduate
360  LP002965  Female     Yes          0      Graduate
361  LP002969    Male     Yes          1      Graduate
362  LP002971    Male     Yes         3+  Not Graduate
363  LP002975    Male     Yes          0      Graduate
364  LP002980    Male      No          0      Graduate
365  LP002986    Male     Yes          0      Graduate
366  LP002989    Male      No          0      Graduate

[367 rows x 5 columns]

In [140]:
cr11.iloc[0:2,[0,1,4,5]]     ##get 2 rows and 1,2,5,6 column

    Loan_ID Gender Education Self_Employed
0  LP001015   Male  Graduate            No
1  LP001022   Male  Graduate            No

In [141]:
##all row and 5 columns
cr11.iloc[:,[0:6]]      ##when passing list do not use colons

SyntaxError: invalid syntax (<ipython-input-141-a23221edaf7a>, line 2)

In [142]:
cr11.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [153]:
##use loc and get 1,5 column and all rows
cr11.loc[0:2 ,['Loan_ID','Education']]

    Loan_ID Education
0  LP001015  Graduate
1  LP001022  Graduate
2  LP001031  Graduate

# REPLACE CATEGORICAL WITH NUMERICAL

In [164]:
cr11.Self_Employed.replace({"No" : 0 , "Yes" : 1},inplace =True)

TypeError: Cannot compare types 'ndarray(dtype=float64)' and 'str'

In [155]:
cr11.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,0.0,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,0.0,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,0.0,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,0.0,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,0.0,3276,0,78.0,360.0,1.0,Urban

In [163]:
cr11.Property_Area.replace({"Urban":0,"Semiurban":1,"Rural":2},inplace = True)
cr11.Property_Area

0      0
1      0
2      0
3      0
4      0
5      0
6      1
7      2
8      0
9      1
10     0
11     1
12     0
13     1
14     1
15     0
16     0
17     1
18     0
19     1
20     0
21     0
22     0
23     0
24     0
25     2
26     0
27     0
28     1
29     0
      ..
337    0
338    2
339    2
340    1
341    2
342    2
343    0
344    2
345    0
346    2
347    0
348    0
349    2
350    2
351    2
352    0
353    2
354    1
355    0
356    0
357    0
358    2
359    1
360    0
361    1
362    0
363    0
364    1
365    2
366    2
Name: Property_Area, Length: 367, dtype: object

# LABEL ENCODER

In [204]:
from sklearn.preprocessing import LabelEncoder

In [181]:
cr= pd.read_csv(r"C:\Users\Khushi\Documents\Credit_Risk_Test_data.csv")

In [184]:
cr.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [189]:
cr = cr.dropna()

In [186]:
le = LabelEncoder()  ##instance of LabelEncoder

In [190]:
cr.Gender = le.fit_transform(cr.Gender)

In [191]:
cr.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,1,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,1,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,1,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
4,LP001051,1,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,1,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban

In [192]:
cr.Education = le.fit_transform(cr.Education)

In [196]:
cr.Property_Area =le.fit_transform(cr.Property_Area)

In [200]:
cr.Married = le.fit_transform(cr.Married)

In [201]:
cr.Self_Employed = le.fit_transform(cr.Self_Employed)

In [203]:
cr.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,1,1,0,0,0,5720,0,110.0,360.0,1.0,2
1,LP001022,1,1,1,0,0,3076,1500,126.0,360.0,1.0,2
2,LP001031,1,1,2,0,0,5000,1800,208.0,360.0,1.0,2
4,LP001051,1,0,0,1,0,3276,0,78.0,360.0,1.0,2
5,LP001054,1,1,0,1,1,2165,3422,152.0,360.0,1.0,2
6,LP001055,0,0,1,1,0,2226,0,59.0,360.0,1.0,1
7,LP001056,1,1,2,1,0,3881,0,147.0,360.0,0.0,0
9,LP001067,1,0,0,1,0,2400,2400,123.0,360.0,1.0,1
10,LP001078,1,0,0,1,0,3091,0,90.0,360.0,1.0,2
14,LP001096,0,0,0,0,0,4666,0,124.0,360.0,1.0,1