In [3]:
######  MULTICOLLINEARITY IN THIS DATA #####################

import pandas as pd

bf =  pd.read_csv(r"C:\Users\Khushi\Desktop\sep14\bodyfat.csv")

In [5]:
bf.head()

   Bodyfat  Age  Weight  Height  Neck  Chest  Abdomen  Ankle  Biceps  Wrist
0     32.3   41  247.25   73.50  42.1  117.0    115.6   26.3    37.3   19.7
1     22.5   31  177.25   71.50  36.2  101.1     92.4   24.6    30.1   18.2
2     22.0   42  156.25   69.00  35.5   97.8     86.0   24.0    31.2   17.4
3     12.3   23  154.25   67.75  36.2   93.1     85.2   21.9    32.0   17.1
4     20.5   46  177.00   70.00  37.2   99.7     95.6   22.5    29.1   17.7

In [11]:
bf_x = bf.iloc[:,1:10]

In [13]:
bf_x.corr()

,Age,Weight,Height,Neck,Chest,Abdomen,Ankle,Biceps,Wrist
Age,1.000000,-0.097905,-0.268673,0.038501,0.072908,0.141339,-0.073522,-0.079398,0.216315
Weight,-0.097905,1.000000,0.568433,0.838977,0.916047,0.888317,0.790388,0.786266,0.755123
Height,-0.268673,0.568433,1.000000,0.370396,0.345312,0.265403,0.454985,0.435460,0.420928
Neck,0.038501,0.838977,0.370396,1.000000,0.789799,0.769086,0.664068,0.701067,0.777259
Chest,0.072908,0.916047,0.345312,0.789799,1.000000,0.922728,0.700092,0.730124,0.695795
Abdomen,0.141339,0.888317,0.265403,0.769086,0.922728,1.000000,0.643211,0.652148,0.672061
Ankle,-0.073522,0.790388,0.454985,0.664068,0.700092,0.643211,1.000000,0.650841,0.688320
Biceps,-0.079398,0.786266,0.435460,0.701067,0.730124,0.652148,0.650841,1.000000,0.630473
Wrist,0.216315,0.755123,0.420928,0.777259,0.695795,0.672061,0.688320,0.630473,1.000000

In [8]:
bf.head()

   LungCap  Age  Height  Smoke  Gender  Caesarean
0    6.475    6    62.1      0       1          0
1   10.125   18    74.7      1       0          0
2    9.550   16    69.7      0       0          1
3   11.125   14    71.0      0       1          0
4    4.800    5    56.9      0       1          0

In [9]:
lc.shape  ## 725 records

(725, 6)

In [10]:
lc.isnull().sum()

LungCap      0
Age          0
Height       0
Smoke        0
Gender       0
Caesarean    0
dtype: int64

In [11]:
lc_x = lc.iloc[ :,1:6]

In [12]:
lc_x.head()

   Age  Height  Smoke  Gender  Caesarean
0    6    62.1      0       1          0
1   18    74.7      1       0          0
2   16    69.7      0       0          1
3   14    71.0      0       1          0
4    5    56.9      0       1          0

In [15]:
lc_y = lc.iloc[:,0]

In [17]:
lc_y.head(2)

0     6.475
1    10.125
Name: LungCap, dtype: float64

# SAMPLING

In [18]:
import sklearn

from sklearn.model_selection import train_test_split

In [36]:
lc_x_train, lc_x_test,lc_y_train, lc_y_test = train_test_split(lc_x, lc_y, test_size= 0.2 , random_state = 101)
## seed in R is similar to random_state in Python

# LINEAR MODELLING

In [30]:

from sklearn import linear_model

In [32]:
reg = linear_model.LinearRegression()

In [34]:
reg.fit(lc_x_train, lc_y_train)
pred_val = reg.predict(lc_x_test)

In [35]:
pred_val

array([ 7.54766894,  5.68204508,  6.32558014, 10.79158567,  3.47236857,
        5.63130484,  7.27875094,  4.71141679,  8.91580848,  4.95831192,
       11.72347409,  7.56462836,  5.91965819, 10.37350125,  4.21082044,
        7.82945863,  5.41906185,  7.88227746,  4.6579582 ,  8.00433113,
       11.06137499,  7.67539087,  8.5790287 ,  8.42968843,  8.20135733,
        6.05850917,  9.8407287 ,  9.43496886,  8.03985459, 11.47657896,
        7.90740517,  6.75959055, 10.03728811,  4.85683143, 10.93884735,
        9.04513502,  3.28821404,  8.88635062,  4.40425698,  7.48579965,
        5.69404545,  8.71988882,  7.64073873,  8.61160225,  7.08915972,
        5.98920489,  6.82617649,  8.01569174,  8.52597463,  6.22001192,
        4.28668839,  8.39503629,  6.52173503,  5.43474542,  9.92900154,
       10.49515758, 13.22031126,  4.10005794,  1.03436096,  3.05035852,
       10.78230365, 11.30307584, 10.46074067,  4.86363752,  6.48708289,
        7.91052805, 11.23896584,  2.01698961,  4.45499722,  9.76230451,
        9.77678081, 10.73812708,  9.97045976,  7.11869788, 10.02528774,
        9.20416183,  7.3006117 ,  8.28139332,  8.57135848,  3.92367436,
        5.85963593,  9.36838293,  9.55253745,  3.84883265, 11.05577618,
        7.26675057,  4.88628929,  7.09844174,  7.70484872,  7.99839636,
       10.93452438,  7.90100361,  4.40425698, 10.55125421, 10.21400765,
        4.81017893,  8.72212952,  8.28572348,  8.02104814, 11.61391886,
        3.30798536,  7.29483904, 12.06256769,  7.16798843,  7.97487328,
        7.55101619,  5.02514027,  4.78192834,  7.37503714,  6.18783571,
       10.3755104 ,  2.12775212,  9.50572283,  8.02785422, 11.15789643,
        9.64721185, 10.5725366 ,  8.0024841 ,  9.45105696, 10.33220514,
        5.81120951,  9.80215093,  1.94087925,  7.74469515, 11.08674511,
        9.12333483, 10.98774056, 10.23240957, 10.14124453,  7.81561123,
        3.08525307,  4.97151956, 10.15646132,  6.95302709,  9.83432714,
        8.1452607 ,  8.30283782, 10.48442587,  9.85969726,  8.24937923,
       10.05234279,  9.58743201,  6.76351618,  5.51373625,  8.5165305 ])

In [44]:
reg.coef_   ### b1,b2,b3,b4,b5
reg.intercept_  ## B0
## y= b0+ b1x1 +b2x2 + b3x3 +b4x4 +b5x5 + epsilon

-11.018922745502765

In [42]:
reg.score(lc_x_train, lc_y_train)  ### R-square

0.8676116408504295

In [48]:
lc_x_train.shape

(580, 5)

In [64]:
adjusted_r_square = float(1 - ((1-reg.score(lc_x_train, lc_y_train))(580-1)/580-5-1))

TypeError: 'numpy.float64' object is not callable

In [67]:
lc_y_test.shape

(145,)

In [68]:
pred_val.shape

(145,)

In [124]:
pred_val= pd.Series(pred_val)

In [130]:
final = pd.concat({'Actual' : lc_y_test,'Predicted' : pred_val}, axis=1,join='outer', ignore_index=True)

In [131]:
final

          0          1
0       NaN   7.547669
1       NaN   5.682045
2     9.550   6.325580
3       NaN  10.791586
4       NaN   3.472369
5       NaN   5.631305
6     4.950   7.278751
7       NaN   4.711417
8       NaN   8.915808
9       NaN   4.958312
10      NaN  11.723474
11      NaN   7.564628
12    6.525   5.919658
13      NaN  10.373501
14      NaN   4.210820
15      NaN   7.829459
16      NaN   5.419062
17      NaN   7.882277
18      NaN   4.657958
19      NaN   8.004331
20      NaN  11.061375
21      NaN   7.675391
22      NaN   8.579029
23    8.725   8.429688
24    9.375   8.201357
25      NaN   6.058509
26      NaN   9.840729
27      NaN   9.434969
28      NaN   8.039855
29      NaN  11.476579
..      ...        ...
582   6.050        NaN
583   4.450        NaN
584   5.350        NaN
586   8.925        NaN
587  12.375        NaN
595   1.450        NaN
597   2.825        NaN
613   3.700        NaN
617   7.650        NaN
633  10.200        NaN
635   6.175        NaN
636   9.050        NaN
639   7.550        NaN
640  14.550        NaN
642   7.950        NaN
646   7.850        NaN
651   6.175        NaN
653   7.800        NaN
654   8.900        NaN
657  10.025        NaN
665   7.825        NaN
669   4.575        NaN
675  12.125        NaN
687   7.475        NaN
688   4.450        NaN
690   4.425        NaN
697   6.450        NaN
705  12.425        NaN
718   7.175        NaN
721   9.050        NaN

[261 rows x 2 columns]